.winee-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #e4e4e4;
}

.winee-flex i {
    font-size: 14px;
    color: #2a2a2a;
    margin-right: 13px;
}

.padding {
    padding: 0 27px;
}

nav {
    padding-top: 20px;
}

.one-bars {
    text-align: center;
    margin-bottom: 15px;
}

nav .one-bars button {
    background-color: #c1001c;
    border: none;
    color: white;
    padding: 5px 10px;
    font-family: 'Text Me One', sans-serif;
    ;


}

nav .two-bars button {
    border: none;
    color: #2a2a2a;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Text Me One', sans-serif;

}

nav .two-bars {
    margin-bottom: 15px;
    display: none;
}

nav .first-ul {
    display: flex;
    justify-content: center;
    display: none;

}

nav .first-ul #li .a {
    color: #000;
    font-size: 16px;
    display: inline-block;
    text-transform: capitalize;
    padding: 15px;
    margin-bottom: 15px;
    transition: .6s;
    position: relative;
    font-family: 'Text Me One', sans-serif;
}

nav .first-ul #li .a:hover {
    color: #c1001c;
}

nav .first-ul #li .a i {
    display: inline-block;
    font-size: 9px;
    position: absolute;
    top: 22px;
    right: 1px;
}

.first-ul .second-ul {
    position: absolute;
    /* left: 10px; */
    width: 200px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    transition: 0.3s all linear;
    top: 41px;
    background-color: white;
    z-index: 2;
}

#li.dropdown {
    position: relative;
}

#li.dropdown:hover .second-ul {
    opacity: 1;
    transform: translatey(20px);
    /* transition: 0.5s ease-in-out; */
}

.first-ul .second-ul #li-1 a {
    color: red;
    text-transform: capitalize;
    padding: 17px 15px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.875em;
    font-family: 'Text Me One', sans-serif;
    color: #2a2a2a;
    /* border-top: 1px solid #e4e4e4; */
}

.first-ul .second-ul #li-1 {
    border-top: 1px solid #e4e4e4;

}

.second-ul {
    opacity: 0;
    /* transition: 1.5s; */
}

.padding-2 {
    /* margin: 0 15px; */
}

.all-wine-page {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    /* background-color: red; */
    /* width: 90%; */
    left: 0;
    /* opacity: 0; */
    border-top: 1px solid #e4e4e4;
    margin: 0 20px;
    /* box-shadow: 0 1px 5px rgba(0,0,0,.1); */
    z-index: 99999;
    top: 26.8%;
    /* display: none; */
    visibility: hidden;
    /* text-align: center; */
    padding: 30px 40px;
    /* justify-content: center; */
}

.wine-page button {
    background-color: #c1001c;
    border: navy;
    color: #e4e4e4;
    padding: 14px 0;
    font-family: 'Text Me One', sans-serif;

    text-transform: capitalize;
    /* border: none; */
    /* background-color: red; */
}

.wine-page {
    /* background-color: red; */
    width: 23%;
}

.wine-page button {
    width: 100%;
}

.wine-page img {
    width: 100%;
}

.all-wine-page {
    /* opacity: 0; */
}

.first-ul .dropdown-2:hover .all-wine-page {
    /* opacity: 1; */
    /* display: block; */
    visibility: visible;
    transition: 0.9s ease-in-out;
    transform: translatey(10px);


}

.main-photo {
    background: url(/img/slider1.webp)center/cover;
    height: 80vh;
    position: relative;
    text-align: center;
    z-index: 1;
    /* padding: 40px; */
}

.main-photo::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    ;
    display: block;
    height: 100%;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.main-photo-content {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.main-photo-content h2 {
    color: #f01737;
    font-size: 24px;
    margin: 30px 0;
    font-family: 'Philosopher', sans-serif;
    line-height: 30px;
}

.main-photo-content .three {

    color: white;
    text-transform: capitalize;
    margin-bottom: 45px;
    line-height: 28px;
    font-size: 16px;
    font-family: 'Text Me One', sans-serif;
    ;

}

.main-photo-content button {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    display: inline-block;
    /* width: 100%; */
    width: 105px;
    margin: auto;
    padding: 6px 22px;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Text Me One', sans-serif;
    ;
}

.parallax {
    background: url(/img/parallax-bg.webp)center/cover;
    min-height: 70vh;
    padding: 80px 35px;
    background-attachment: fixed;

}

.parallax-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.parallax h4 {
    color: #000000;
    font-size: 46px;
    line-height: 64px;
    font-family: 'Philosopher', sans-serif;
}
.parallax img{
    /* margin-bottom: 20px; */
}

.parallax h6 {
    color: #c1001c;
    margin-bottom: 35px;
    font-size: 15px;
    font-family: 'Philosopher', sans-serif;
}

.parallax p {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    line-height: 27px;
    font-family: 'Text Me One', sans-serif;
}

.parallax a {
    color: #000000;
    display: inline-block;
    background: #fff;
    font-size: 16px;
    font-family: 'Text Me One', sans-serif;
    padding: 11px 22px;
    text-transform: capitalize;
    margin-bottom: 60px;
}
.section-3{
    margin-top:100px ;
    padding: 0 30px;
}
.section-3-img img{
    width: 100%;
}
.section-3 h3{
    color: #1a1a1a;
    font-size: 30px;
    font-family: 'Philosopher', sans-serif;

}
